* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cardPreview {
  align-items: center;
  background-color: aliceblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
  margin: 20px;
  text-align: center;
  width: 250px;
}

img {
  width: 150px;
}
