* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
}

input, textarea, select {
  background: rgba(128, 128, 128, 0.115);
  border: 1px solid grey;
  border-radius: 2px;
  margin-bottom: 15px;
  padding: 3px;
  width: 100%;
}

button {
  background: blue;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  margin: auto;
  padding: 8px;
  width: 50%;
}

form {
  flex-basis: 50%;
}

form h2 {
  color: blue;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
}
